*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(180, 7, 7);
    border-radius: 10px;
  }
  /* -------------------------section home---------------------- */
.sec-home{
    background-color: black;
    min-height: 85vh;
    padding: 10px;
    color: white;
    margin:11px;
}
.sec-home .container{
    padding-top: 6%;
}
.nav-top{
    margin: 20px 20px -20px 20px;
    background-color: rgb(180, 7, 7);
}
.navbar .container{
    justify-content:flex-start;
}
.nav-item .nav-link{
    margin: 15px;
}
.navbar-nav .nav-link,.navbar-brand{
    list-style-type: none;
    font-size: 22px;
    margin-right: 30%;
    color: white;
}
.home-card{
    min-height: 30vh;
    display: flex;
    border: 1px solid red;
    border-radius: 30px;
    box-shadow:1px 1px 26px 0px rgb(245, 112, 112);
}
.home-card .details-card{
    font-size: 20px;
    padding: 5%;
    text-align: center;
}
.sec-home .row .col-md-6 h1{
    -webkit-text-stroke:2px rgb(180, 7, 7);
    font-size: 50px;
    color: transparent;
}
  #image {
    transition: opacity 0.3s;
    border-radius: 30px;
    margin: 2%;
    width: 40%;

  }
.fullscreen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif;
    padding: 20px 0;
    box-sizing: border-box;
  }
  .radio-group-container {
    padding: 20px 35px;
    /* -webkit-backdrop-filter: blur(12px); */
    max-width: 280px;
    transition: all 0.3s ease;
  }
  .radio-label {
    display: flex;
    align-items: center;
    margin: 30px 0;
    cursor: pointer;
    position: relative;
    user-select: none;
  }
  .radio-input {
    display: none;
  }
  .radio-custom {
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 2px solid #5c5e79;
    border-radius: 50%;
    margin-right: 18px;
    position: relative;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .radio-custom::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #8a8b9f;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .radio-custom::after {
    content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: #00a6ff;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.4s ease;
  }
  .radio-text {
    font-size: 1.1rem;
    font-weight: 500;
    color: #c1c3d9;
    transition: color 0.3s ease;
  }
  .radio-label:hover .radio-input:not(:checked) + .radio-custom {
    transform: scale(1.1);
    border-color: #8a8daf;
  }
  .radio-label:hover .radio-text {
    color: #e2e4f4;
  }
  .radio-input:checked + .radio-custom {
    border-color: #00a6ff;
    transform: scale(0.9);
  }
  .radio-input:checked + .radio-custom::before {
    transform: scale(1);
    background-color: #00a6ff;
  }
  .radio-input:checked + .radio-custom::after {
    opacity: 1;
    transform: scale(1.3);
    animation: orbit 2.5s infinite linear;
    box-shadow:
      0 0 30px #00a6ff,
      0 0 80px rgba(0, 166, 255, 0.2);
  }
  .radio-input:checked ~ .radio-text {
    color: #ffffff;
    font-weight: 700;
  }
  .radio-label:nth-child(2) .radio-input:checked + .radio-custom {
    border-color: #cdbaab;
    box-shadow: none;
  }
  .radio-label:nth-child(2) .radio-input:checked + .radio-custom::before {
    background-color: #cdbaab;
  }
  .radio-label:nth-child(2) .radio-input:checked + .radio-custom::after {
    border-top-color: #cdbaab;
    box-shadow:
      0 0 30px #cdbaab,
      0 0 80px #caac94;
  }
  .radio-label:nth-child(2) .radio-input:checked ~ .radio-text {
    color: #ffffff;
  }
  
  .radio-label:nth-child(3) .radio-input:checked + .radio-custom {
    border-color: #00ffc2;
    box-shadow: none;
  }
  .radio-label:nth-child(3) .radio-input:checked + .radio-custom::before {
    background-color: #00ffc2;
  }
  .radio-label:nth-child(3) .radio-input:checked + .radio-custom::after {
    border-top-color: #00ffc2;
    box-shadow:
      0 0 30px #00ffc2,
      0 0 80px rgba(0, 255, 194, 0.2);
  }
  .radio-label:nth-child(3) .radio-input:checked ~ .radio-text {
    color: #ffffff;
  }
  
  @keyframes orbit {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @media (max-width: 400px) {
    .radio-group-container {
      padding: 15px 25px;
    }
    .radio-label {
      margin: 25px 0;
    }
    .radio-text {
      font-size: 1rem;
    }
  }
  /* -----------------------------section about----------------------- */
  .sec-about{
    min-height: 90vh;
    /* background-color: black; */
    color: black;
    margin:11px;
    margin-top: 7%;


  }
  .sec-about .team-img img{ 
    position: relative;
    top: 2rem;
    left: 2rem;
    margin: 5px;
    height: 250px;
    width: 250px;
    border-radius: 30px;
  }
  .sec-about .team-img img:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
    box-shadow: 0px 0px 10px 2px rgb(221, 89, 89);
  }
  .sec-about .team-toggeler img{
    border-radius: 30px;
    margin:-15%;
    left: 150%;
    position: relative;
    width: 60%;
    height: 400px;
    animation: fadeInup 1s ease-in-out backwards;
  }
  .sec-about .team-toggeler p,h1{
    animation: fadeInup 1s ease-in-out backwards;
  }
  @keyframes fadeInup {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @media (max-width:768px) {
    .sec-about .team-toggeler img,h1{
        left: 0;
        margin-top: 20%;
     }
    .sec-about .team-img img{
        display: block;
        margin: auto;
        padding: 20px;
    }
  }

  
  /* -------------------------------------------section shop------------------------- */
  .sec-shop{
    min-height: 100vh;
    padding-top: 10%;
  }
  .sec-shop .card{
    color: white;
    background-color: black;
    border: 1px solid brgb(221, 89, 89)lack;
    box-shadow: 0px 0px 10px 2px rgb(221, 89, 89);
    transition: transform 0.4s ease;
  }
  .sec-shop .card:hover{
    transform: scale(1.05);
  }
  .sec-shop .card img{
    padding: 10px;
    border-radius: 50px;
  }
  .sec-shop a .btn{
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;
    color: white;
    border: 2px solid red;
    margin: 5% 5% 5% 50%;
    transition: transform 0.4s ease;
  }
  .sec-shop a .btn:hover{
    background-color: transparent;
    color: red;
    transform: scale(1.05);
  }
.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.3rem;
  --stroke: #666;
  --fill: #ffc73a;
}
.rating input {
  appearance: unset;
}
.rating label {
  cursor: pointer;
}
.rating svg {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}
@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}
.rating label:hover svg {
  stroke: var(--fill);
}
.rating input:checked ~ label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}
@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }
  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }
  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }
  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}
@media (max-width: 768px) {
  .col-md-4 .card {
    margin: 20px;
   margin-left: 20%;
    text-align: center;
  }
}
  /* ----------------------------products page /all products----------------------- */
  .allpage{
    background-color: black;
  }
  .allpage .container .col-md-4 .card{
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .allpage .container .col-md-4 .card img{
    padding: 10px;
    border-radius: 30px;
  }
  .allpage  .card .card-body  .btn{
    background-color: red;
    color: white;
    border-radius: 30px;
  }
  /* -----------------------------------footer--------------------------------- */
.input-wrapper {
  width: fit-content;
  height: 45px;
  border-radius: 20px;
  padding: 5px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  background-color: #292524;
}
.icon {
  width: 30px;
  fill: rgb(255, 255, 255);
  margin-left: 8px;
  transition: all 0.3s;
}
.input {
  max-width: 170px;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: #292524;
  color: white;
  font-size: 1em;
}
.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #292524 inset;
  -webkit-text-fill-color: #ffffff;
}
.Subscribe-btn {
  height: 100%;
  width: 95px;
  border: none;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: #ffffff;
  font-weight: 500;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
}
.arrow {
  position: absolute;
  margin-right: 150px;
  transition: all 0.3s;
}
.input-wrapper:active .icon {
  transform: scale(1.3);
}
.Subscribe-btn:hover {
  color: white;
}
.Subscribe-btn:hover .arrow {
  margin-right: 0;
  animation: jello-vertical 0.9s both;
  transform-origin: right;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.Subscribe-btn:active {
  transform: scale(0.9);
}

.sec-footer{
  background-color: black;
  min-height:40vh;
}
.sec-footer .container{
  color: white;
  position: absolute;
  background-color: red;
  margin: 5% 6%;
  padding: 5%;
  border-radius: 30px;
}
@media (max-width: 768px) {
  .sec-footer .container {
   margin: 0;
  }
}
/* =-====social===== */
.bottom-footer .container{
  background: black;
  min-width:100%;
  min-height: 50vh;
  padding-top: 15%;
  color: white;
}
.bottom-footer .col-md-4 .about-footer{
  padding: 5%;
  font-size: 20px;
  color: white;
}
.bottom-footer .col-md-4 .about-footer a{
 color: white;
 list-style-type: none;
}
/* From Uiverse.io by Praashoo7 */ 
.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}
.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}
.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}
.twitter {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #03A9F4;
}
.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}
.github {
  margin-top: -.6em;
  margin-left: 1.2em;
}
.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}
.discord {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}
.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}
.card1:hover .instagram {
  fill: white;
}
.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03A9F4;
}
.card2:hover .twitter {
  fill: white;
}
.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}
.card3:hover .github {
  fill: white;
}
.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}
.card4:hover .discord {
  fill: white;
}